@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@200&display=swap');

body{
    background-color: rgba(8, 8, 8, 0.884);
}

.cabecalho {
    display: flex;
    margin-top: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    height: 80px;
}
li {
    margin: auto;
    padding: 10px;
    list-style: none;
    font-family:'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 15px;
    color: white;
}

.logo_tipo {
    display: inline-block;
    width: 90px;
}

.login{
    width: 200px;
}



